.chat-container {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #d8dde6;
}

.msg {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    max-width: 70%;
}

.right {
    background-color: #d4f3ff;
    margin-left: auto;
    text-align: right;
}

.left {
    background-color: #f0f0f0;
    margin-right: auto;
    text-align: left;
}

.msg-time {
    font-size: 0.75rem;
    color: gray;
    margin-top: 4px;
}
.chat-input-wrapper {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    margin-top: 1rem;
}

.input-container {
    position: relative;
    flex-grow: 1;
}

.input-container input {
    width: 100%;
    padding: 12px 10px;
    font-size: 16px;
    border: 2px solid #0176D3;
    border-radius: 10px;
    outline: none;
    background: transparent;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    background-color: white;
    padding: 0 4px;
    color: #aaa;
    font-size: 16px;
    pointer-events: none;
    transition: 0.2s ease all;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown):valid + label {
    top: 0;
    font-size: 12px;
    color: #0176D3;
}

.send-btn {
    padding: 10px 20px;
    background-color: #0176D3;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.send-btn:hover {
    background-color: #0176D3;
}